@model SistemaGestionRENI.ViewModels.Convenios.DetailConvenioViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="header" class="py-4  text-white">
    <div class="col text-center bg-primary py-3">
        <h3 class="font-weight-bold">@Model.Convenio.Nombre</h3>
        @*<a href="@Url.Action("Index", "Tema", new { IdSeccion = Model.IdSeccion })" class="btn btn-outline-danger text-white ml-2">@Resources.Regresar</a>*@
    </div>
</section>
<section>
    <container>
        <!-- Contenido Convenio -->
        <div class="row">
            <div class="col">
                <div class="card mb-1">
                    <div class="card-header bg-dark text-white py-0">
                        <span class="fa fa-address-book" data-toggle="tooltip" aria-hidden="true"></span><i class="pl-2">@Model.Convenio.Nombre</i>
                    </div>
                    <div class="card-body py-1">
                        <div>
                            <ul>
                                <li>
                                    <strong>Descripción: </strong> @Model.Convenio.Descripcion
                                </li>
                                <li><strong>Vigencia: </strong> @Model.Convenio.VigenciaDesde.Date.ToString("yyyy MMMM dd") -> @Model.Convenio.VigenciaHasta.Date.ToString("yyyy MMMM dd")</li>
                                <li><strong>Año Firma: </strong> @Model.Convenio.AnioFirma</li>
                                <li>
                                    <strong>Objetivo: </strong>
                                    <p>@Model.Convenio.Objetivo</p>
                                </li>
                                <li>
                                    <strong>Obligaciones: </strong>
                                    <p>@Model.Convenio.Obligaciones</p>
                                </li>
                                <li>
                                    <strong>Obligaciones de Contraparte: </strong>
                                    <p>@Model.Convenio.Derechos</p>
                                </li>
                                <li>
                                    <strong>Dependencia Principal: </strong> @Model.Convenio.DependenciaConvenio.Nombre
                                </li>
                                <li>
                                    <strong>Institución Externa: </strong> @Model.Convenio.Institucion.Nombre - <strong>Ubicación:</strong> @Model.Convenio.Institucion.Ubicacion (@(@Model.Convenio.Institucion.EsPrivado == true ? "Privado" : "Estatal"))
                                    <strong>Actividad: </strong> @Model.Convenio.Institucion.ActividadInstitucion
                                </li>
                                <li>
                                    <strong>Indicador: </strong> @Model.Convenio.Indicador.Nombre <strong>Objetivo: </strong> 0/@Model.Convenio.ObjetivoIndicador
                                </li>
                                <li>
                                    <strong>Alcance: </strong> @Model.Convenio.AlcanceConvenio.Nombre
                                </li>
                                <li>
                                    <strong>Resolución: </strong> @Model.Convenio.Resolucion
                                </li>
                                <li>
                                    <strong>Correlativo: </strong> @Model.Convenio.Correlativo
                                </li>
                                <li>
                                    <strong>Clase: </strong> @Model.Convenio.ClaseConvenio.Nombre
                                </li>
                                <li>
                                    <strong>Condición: </strong> @Model.Convenio.CondicionConvenio.Nombre
                                </li>
                                <li>
                                    <strong>Proponente Interno: </strong>
                                    <ul>
                                        <li><strong>Nombre: </strong> @Model.Convenio.ProponenteInterno.Nombre</li>
                                        <li><strong>Dependencia: </strong> @Model.Convenio.ProponenteInterno.Dependencia.Nombre - <strong>Locación: </strong> @Model.Convenio.ProponenteInterno.Dependencia.Abrev</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>Proponente Externo: </strong>
                                    <ul>
                                        <li><strong>Nombre: </strong> @Model.Convenio.ProponenteExterno.Nombre</li>
                                        <li><strong>Dependencia: </strong> @Model.Convenio.ProponenteExterno.Instituction.Nombre - <strong>Locación: </strong> @Model.Convenio.ProponenteExterno.Instituction.Ubicacion</li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        @*<div style="text-align: right"><small><i><span data-toggle="tooltip" title="@Model.DaysAgo">@Resources.PublicadoPor <a href="/Perfil/Index/?Usuario=@Model.NombreUsuarioCreador">@Model.NombreUsuarioCreador</a> [@Model.FechaCreacion]</span></i></small></div>*@
                        <div style="text-align: left">
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="card-footer py-1">
                        <div class="row">
                            <ul>
                                <li>InformeEjemplo.docx <a href="#">Descargar</a></li>
                                <li>InformeEjemplo2.xlsx <a href="#">Descargar</a></li>
                                <li>InformeEjemplo3.pdf <a href="#">Descargar</a></li>
                                <li>InformeEjemplo4.txt <a href="#">Descargar</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <a href="@Url.Action("New", "ActividadConvenio", new {Id = @Model.Convenio.Id})" class="btn btn-info">Nueva Actividad</a>
                            <a href="@Url.Action("New", "ProgramaConvenio", new {Id = @Model.Convenio.Id})" class="btn btn-light">Nueva Movilidad</a>
                        </div>
                    </div>





                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @foreach (var movilidad in Model.Programas)
                {
                    <div class="card mb-1 py-0">
                        <div class="card-header bg-light py-0">
                            <div class="float-left"><span class="fa fa-address-card" data-toggle="tooltip" aria-hidden="true"></span></div>
                            <div class="float-left pl-2">Movilidad</div>
                        </div>
                        <div class="card-body py-1">
                            <ul>
                                <li><strong>Nombres: </strong> @movilidad.Nombres</li>
                                <li><strong>Documento: </strong> @movilidad.DocumentoIdentidad</li>
                                <li>
                                    <strong>Universidad de Origen: </strong> @movilidad.Institucion.Nombre (@(@movilidad.Institucion.EsPrivado == true ? "Privado" : "Estatal"))
                                </li>
                                <li><strong>Destino: </strong> @movilidad.Dependencia.Nombre</li>
                                <li><strong>Tipo de Movilidad: </strong> @movilidad.TipoPrograma.Nombre</li>
                                <li><strong>Programa: </strong> @movilidad.ProgramaMovEst</li>
                            </ul>

                        </div>
                        <div class="card-footer py-1">
                            <span class="pull-left"><a href="@Url.Action("Edit", "ProgramaConvenio", new {Id = @movilidad.Id, ConvenioIdMaster = @Model.Convenio.Id})" class="btn btn-sm btn-outline-warning">Modificar</a></span>
                            <span class="pull-right"><a href="@Url.Action("Delete", "ProgramaConvenio", new {Id = @movilidad.Id})" class="btn btn-sm btn-outline-danger">Eliminar</a></span>
                        </div>
                    </div>

                }
            </div>
       


        <div class="col-md-6">
            @foreach (var actividad in Model.Actividades)
            {
                <div class="card mb-1 py-0">
                    <div class="card-header bg-info text-white py-0">
                        <div class="float-left"><span class="fa fa-address-card" data-toggle="tooltip" aria-hidden="true"></span></div>
                        <div class="float-left pl-2">Actividad de Convenio</div>
                    </div>
                    <div class="card-body py-1">
                        <ul>
                            <li><strong>@actividad.Nombre</strong></li>
                            <li><strong>Descripción: </strong> @actividad.Descripcion</li>
                            <li>
                                <strong>Observaciones: </strong>
                                <p>
                                    @actividad.Observaciones
                                </p>
                            </li>
                            <li><strong>Fecha: </strong> @actividad.Fecha.Date.ToString("yyyy MMMM dd")</li>
                            <li><strong>Tipo de Actividad: </strong> @actividad.TipoActividadConvenio.Nombre</li>
                            <li><strong>Indicador: </strong> @actividad.Indicador.Nombre</li>
                            <li><strong>Avance: </strong> @actividad.Avance</li>
                        </ul>

                    </div>
                    <div class="card-footer py-1">
                        <div class="row">
                            <ul>
                                <li>InformeEjemplo.docx <a href="#">Descargar</a></li>
                                <li>InformeEjemplo2.xlsx <a href="#">Descargar</a></li>
                                <li>InformeEjemplo3.pdf <a href="#">Descargar</a></li>
                                <li>InformeEjemplo4.txt <a href="#">Descargar</a></li>
                            </ul>
                        </div>
                        <span class="pull-left"><a href="@Url.Action("Edit", "ActividadConvenio", new {Id = @actividad.Id, ConvenioIdMaster = @Model.Convenio.Id})" class="btn btn-sm btn-outline-warning">Modificar</a></span>
                        <span class="pull-right"><a href="@Url.Action("Delete", "ActividadConvenio", new {Id = @actividad.Id})" class="btn btn-sm btn-outline-danger">Eliminar</a></span>
                    </div>
                </div>

            }
        </div>
        </div>
        </container>
</section>





