@model ListProgramaMovilidadViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <container>
        <div class="row mt-2">
            <h2>Programas de Movilidad</h2>
        </div>
        <div class="row my-3">
            <a href="@Url.Action("New","ProgramaMovilidad", null)" class="btn btn-info">Nuevo Programa de Movilidad</a>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Nombre de Convenio</th>
                        <th scope="col">Institución</th>
                        <th scope="col">Dependencia</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var programaMovilidad in Model.Programas)
                    {
                        <tr>
                            <th scope="row">@programaMovilidad.Id</th>
                            <td>@programaMovilidad.Nombre</td>
                            <td>@programaMovilidad.Descripcion</td>
                            <td>@programaMovilidad.Convenio.Nombre</td>
                            <td>@programaMovilidad.Convenio.Institucion.Abrev</td>
                            <td>@programaMovilidad.Convenio.DependenciaConvenio.Abrev</td>
                            <td>
                                <a class="btn btn-warning" href="@Url.Action("Edit","ProgramaMovilidad", new {Id = programaMovilidad.Id, ConvenioId = programaMovilidad.Convenio.Id})">Modificar</a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", "ProgramaMovilidad", new {Id = programaMovilidad.Id, ConvenioId = programaMovilidad.Convenio.Id})">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </container>
</section>






