@model SistemaGestionRENI.Models.Institucion
@{
    ViewBag.Title = "InstitucionForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        @*<div class="row">
                <h2>Nueva Dependencia</h2>
            </div>*@
        <div class="row mb-3">
            <div class="col-md-8 m-auto">
                <div class="card">

                    @using (Html.BeginForm("Save", "Institucion", null, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="card-header">
                            Nueva Institución
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Nombre)
                                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Abrev)
                                @Html.TextBoxFor(m => m.Abrev, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Ubicacion)
                                @Html.TextBoxFor(m => m.Ubicacion, new { @class = "form-control" })
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.EsPrivado) Es Privado?
                                </label>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ActividadInstitucion)
                                @Html.TextBoxFor(m => m.ActividadInstitucion, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="card-footer">
                            @Html.HiddenFor(m => m.Id)
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
